* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header,
div,
footer {
    border: 2px solid yellow;
}

header,
footer {
    width: 100%;
}

div {
    max-width: 100px;
    width: 100%;
    min-width: 320px;
    display: flex;

}

nav {
    width: 25%;
}

main {
    width: 75%;
}

nav,
main {
    border: 1px solid green;
}

footer {
    margin-top: auto;  /*перетягуємо футер в самий низ view porta*/
}

/* розділюємо абзац на дві колонки не використовую flex */
p {
    margin: auto 20px;
    /* column-count: 2;  через column-count вказавши кількість колонок */
    column-width: 200px; /*через ширину колонки, тоді воно гарно адаптується*/
}