* {
    box-sizing: border-box;
}

body {
    padding: 15px;
    background-color: beige;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.user-card {
    background-color:aliceblue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

    flex-basis: 350px;
    flex-grow: 1;
    min-width: 260px;
    width: 350px;
    max-width: 400px;
}

.edit-btn {
    align-self: flex-end;
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: rgb(92, 136, 246);
}

.user-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -10px;
}

.user-name {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

.user-addr {
    font-size: 14px;
    color: rgb(172, 172, 172);
    margin-top: 10px;
}

.user-descr {
    text-align: center;
    line-height: 1.7;
    letter-spacing: 1px;
    color: grey;
    margin-top: 20px;
    margin-bottom: 10px;
}

.member-section {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.member-title {
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: rgb(172, 172, 172);
}

.member-status {
    color: orange;
    font-weight: 600;
    margin-top: 15px;
    font-size: 18px;
}

.member-status i {
    margin-right: 5px;
}

.member-btn {
    padding: 10px 15px;
    font-size: 14px;
    height: fit-content;
    color: rgb(112, 220, 5);
    border: 1px solid rgb(112, 220, 5);
    border-radius: 3px;
    background-color: transparent;
    align-self: center;
}

.card-footer {
 text-align: center;
 margin-top: 40px;
}

.footer-heading {
    font-size: 18px;
    color: grey;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.social-item {
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 12px;
    border: 1px solid grey;
    border-radius: 50%;
    color: grey;
}
